{% extends 'base.html' %}

{% load i18n %}
{% load i18n bootstrap %}

{% block title %}{% trans "Password changed" %}{% endblock title %}

{% block body %}

    <div class="row">
        <div class="col-lg-12">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">{% trans "Password changed" %}</h4>
                    </div>
                    <div class="modal-body">
                        <p>Your password has been successfully changed.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
