{% extends 'base.html' %}

{% load i18n %}
{% load i18n bootstrap %}

{% block title %}{% trans "Reset your password" %}{% endblock title %}

{% block body %}

    <div class="row">
        <div class="col-lg-12">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">{% trans "Reset your password" %}</h4>
                    </div>
                    <div class="modal-body">
                        {% if validlink %}

                        <p>Please enter your new password twice:</p>

                        <form action="." method="post">
                            {{ form|bootstrap }}
                            {% csrf_token %}
                            <p><input type="submit" value="Change my password" /></p>
                        </form>

                        {% else %}
                            <p>The password reset link was invalid, possibly because it has
                            already been used. Please request a new password reset.</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
