{% extends 'base.html' %}

{% load i18n %}
{% load i18n bootstrap %}

{% block title %}{% trans "Change password" %}{% endblock title %}

{% block form_element %}
<form action="." method="post"><!--- POST CONTENT -------- -->
<div class="post_main bg_grey" style="padding:50px 0px 20px 0px;">
	<div class="container">
	<div class="row">
	
	<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">	</div>
	<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">	
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		{{ form.old_password }}
	</div>
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		{{ form.new_password1 }}
	</div>
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		{{ form.new_password2 }}
	</div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        </div>
	<p><input type="submit" value="Change" class="submit_btn"> </p>
	</div>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">	</div>
</div>
</form>

{% block script %}
<script>
	$(document).ready(function(){
	$("#id_old_password").attr("class", "form-control")
	$("#id_old_password").attr("placeholder", "Old password")
	$("#id_new_password1").attr("class", "form-control")
	$("#id_new_password1").attr("placeholder", "New password")
	$("#id_new_password2").attr("class", "form-control")
	$("#id_new_password2").attr("placeholder", "New password confirmation")
	});
</script>
{% endblock %}
{% endblock %}
