{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Result{% endblock title %}

{% block content %}
<style>
	button{
		text-transform: inherit;
	}
</style>

<link href="{% static 'vendors/bower_components/bootstrap-select/dist/css/bootstrap-select.css' %}" rel="stylesheet">

<div class="container">
    <div class="block-header">
    	<div class="card">
            <div class="card-header">
                <h2 style="padding-bottom: 30px;">Basic Example </h2>
            </div>
            <div class="card-body card-padding">
            	<div class="row">
                    <div class="col-sm-4 m-b-25">
                        <div class="input-group fg-float">
                            <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
                            <div class="fg-line">
                                <input type="text" class="form-control" value="Barbering and Cosmetology, Board of" read-only>
                                <label class="fg-label">BOARDS AND BUREAUS</label>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-sm-4 m-b-25">
                        <div class="input-group fg-float">
                            <div class="fg-line">    
                                <input type="text" class="form-control">
                                <label class="fg-label">Location</label>
                            </div>
                            <span class="input-group-addon last"><i class="zmdi zmdi-my-location"></i></span>
                        </div>
                    </div>
                    
                    <div class="col-sm-4 m-b-25">
                        <div class="input-group fg-float">
                            <span class="input-group-addon"><i class="zmdi zmdi-mail-send"></i></span>
                            <div class="fg-line">
                                <input type="text" class="form-control">
                                <label class="fg-label">Layers</label>
                            </div>
                            <span class="input-group-addon last"><i class="zmdi zmdi-layers "></i></span>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="input-group fg-float">
                            <div class="input-group fg-float">
                            	<div class="fg-line">
			                    <select class="selectpicker">
                                    <option value="">LICENSE TYPE</option>
                                    <option>Mustard</option>
                                    <option>Ketchup</option>
                                    <option>Relish</option>
                                </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

		<div class="card">
            <div class="card-header">
                <h2>Basic Example <small>It's just that simple. Turn your simple table into a sophisticated data table and offer your users a nice experience and great features without any effort.</small></h2>
            </div>
            
            <div class="table-responsive">
                <table id="data-table-basic" class="table table-striped">
                    <thead>
                        <tr>
                            <th data-column-id="id" data-type="numeric">ID</th>
                            <th data-column-id="sender">Sender</th>
                            <th data-column-id="received" data-order="desc">Received</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>10238</td>
                            <td>eduardo@pingpong.com</td>
                            <td>14.10.2013</td>
                        </tr>
                        <tr>
                            <td>10243</td>
                            <td>eduardo@pingpong.com</td>
                            <td>19.10.2013</td>
                        </tr>
                        <tr>
                            <td>10248</td>
                            <td>eduardo@pingpong.com</td>
                            <td>24.10.2013</td>
                        </tr>
                        <tr>
                            <td>10253</td>
                            <td>eduardo@pingpong.com</td>
                            <td>29.10.2013</td>
                        </tr>
                        <tr>
                            <td>10234</td>
                            <td>lila@google.com</td>
                            <td>10.10.2013</td>
                        </tr>
                        <tr>
                            <td>10239</td>
                            <td>lila@google.com</td>
                            <td>15.10.2013</td>
                        </tr>
                        <tr>
                            <td>10244</td>
                            <td>lila@google.com</td>
                            <td>20.10.2013</td>
                        </tr>
                        <tr>
                            <td>10249</td>
                            <td>lila@google.com</td>
                            <td>25.10.2013</td>
                        </tr>
                        <tr>
                            <td>10237</td>
                            <td>robert@bingo.com</td>
                            <td>13.10.2013</td>
                        </tr>
                        <tr>
                            <td>10242</td>
                            <td>robert@bingo.com</td>
                            <td>18.10.2013</td>
                        </tr>
                        <tr>
                            <td>10247</td>
                            <td>robert@bingo.com</td>
                            <td>23.10.2013</td>
                        </tr>
                        <tr>
                            <td>10252</td>
                            <td>robert@bingo.com</td>
                            <td>28.10.2013</td>
                        </tr>
                        <tr>
                            <td>10236</td>
                            <td>simon@yahoo.com</td>
                            <td>12.10.2013</td>
                        </tr>
                        <tr>
                            <td>10241</td>
                            <td>simon@yahoo.com</td>
                            <td>17.10.2013</td>
                        </tr>
                        <tr>
                            <td>10246</td>
                            <td>simon@yahoo.com</td>
                            <td>22.10.2013</td>
                        </tr>
                        <tr>
                            <td>10251</td>
                            <td>simon@yahoo.com</td>
                            <td>27.10.2013</td>
                        </tr>
                        <tr>
                            <td>10235</td>
                            <td>tim@microsoft.com</td>
                            <td>11.10.2013</td>
                        </tr>
                        <tr>
                            <td>10240</td>
                            <td>tim@microsoft.com</td>
                            <td>16.10.2013</td>
                        </tr>
                        <tr>
                            <td>10245</td>
                            <td>tim@microsoft.com</td>
                            <td>21.10.2013</td>
                        </tr>
                        <tr>
                            <td>10250</td>
                            <td>tim@microsoft.com</td>
                            <td>26.10.2013</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block script %} 
<script src="{% static 'vendors/bower_components/bootstrap-select/dist/js/bootstrap-select.js' %}"></script>

<script type="text/javascript">
    $(document).ready(function(){
        //Basic Example
        $("#data-table-basic").bootgrid({
            css: {
                icon: 'zmdi icon',
                iconColumns: 'zmdi-view-module',
                iconDown: 'zmdi-expand-more',
                iconRefresh: 'zmdi-refresh',
                iconUp: 'zmdi-expand-less'
            },
        });
    })
</script>	
{% endblock script %}